# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# System / macOS
.DS_Store

# Env files
.env
.env.local
.env.production
.env.development

# Vercel
.vercel/
